<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">ACERCA DE</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Este es el mejor lugar para jugar, hablar sobre juegos y crearlos.</p>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Steam_2016_logo_black.svg/2560px-Steam_2016_logo_black.svg.png" alt="..." /></div>
        </div>
    </div>
</header>

<body class="d-flex flex-column">
    <main class="flex-shrink-0">


        <!-- About section one-->
        <section class="py-5 bg-light" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://cdn.cloudflare.steamstatic.com/store/home/store_home_share.jpg" alt="..." /></div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Historia</h2>
                        <p class="lead fw-normal text-muted mb-0">En el apasionante mundo de los videojuegos, ITSQMETPLAY nació de la visión compartida de tres amigos, Fundador 1, Fundador 2 y Fundador 3, que siempre soñaron con crear un espacio donde los jugadores pudieran encontrar no solo los últimos títulos, sino también una experiencia única y apasionante.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- About section two-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://www.encancha.mx/resizer/-FucO19cDihZ4hVNFoBo6lftdOc=/800x0/filters:format(png):quality(70):focal(683x260:693x270)/cloudfront-us-east-1.images.arcpublishing.com/palco/XSWJWE5TBVGRFKNK2VBRTHVR7Y.png" alt="..." /></div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Accede a los juegos al instante</h2>
                        <p class="lead fw-normal text-muted mb-0">Con casi 30 000 juegos publicados; desde grandes compañías hasta estudios independientes pasando por todo lo intermedio. Disfruta de ofertas exclusivas, actualizaciones automáticas y otras grandes ventajas.</p>
                        <a class="btn btn-primary btn-lg" href="productos">Ver juegos</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team members section-->
        <section class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="text-center">
                    <h2 class="fw-bolder">NUESTRO EQUIPO</h2>
                    <p class="lead fw-normal text-muted mb-5">Guiando a cada jugador hacia nuevas fronteras de diversión</p>
                </div>
                <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5 mb-5 mb-xl-0">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-4 px-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT02kyP_ERgKYDji7CHjms6bx9Tmqk7oY95q7T4i38mHkiCupBX" alt="..." />
                            <h5 class="fw-bolder">Paul Ruiz</h5>
                            <div class="fst-italic text-muted">Fundador &amp; CEO</div>
                        </div>
                    </div>
                    <div class="col mb-5 mb-5 mb-xl-0">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-4 px-4" src="https://static.vecteezy.com/system/resources/previews/023/404/865/original/3d-man-with-beard-avatar-png.png" alt="..." />
                            <h5 class="fw-bolder">Kevin Anilema</h5>
                            <div class="fst-italic text-muted">Fundador &amp; CEO</div>
                        </div>
                    </div>
                    <div class="col mb-5 mb-5 mb-sm-0">
                        <div class="text-center">
                            <img class="img-fluid rounded-circle mb-4 px-4" src="https://marketplace.canva.com/EAFe2X15otQ/1/0/1600w/canva-red-black-illustrative-man-3d-avatar-4oF1bAeGYrg.jpg" alt="..." />
                            <h5 class="fw-bolder">Mauricio Gutierrez</h5>
                            <div class="fst-italic text-muted">Fundador &amp; CEO</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
