<div class="row">
    <div class="col-75">
      <div class="container">
        <form (ngSubmit)="ActualizarUsuario(form)" #form="ngForm">
          <div class="row">
            <div class="col-50">
              <h3>Datos Del Usuario</h3>
              
              <label for="fname"><i class="fa fa-user"></i> Nombre Completo</label>
              <input type="text" id="fname"   placeholder="Juan M. Pérez" name="nombre" [(ngModel)]=nombre>
              <label for="email"><i class="fa fa-envelope"></i> Correo Electrónico</label>
              <input type="text" id="email"  placeholder="juan@ejemplo.com" name="Correo" [(ngModel)]=correo>
              <label for="adr"><i class="fa fa-address-card-o"></i> Dirección</label>
              <input type="text" id="adr"  placeholder="Calle 123" name="direccion" [(ngModel)]=direccion>
              <label for="city"><i class="fa fa-institution"></i> Ciudad</label>
              <input type="text" id="city"  placeholder="Ciudad" name="cuidad" [(ngModel)]=cuidad>
  
              <input type="submit" value="Guardar" class="btn">


              
            </div>
  
            
  
          </div>
          
        </form>
      </div>
    </div>
  
</div>
