<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">GAME STORE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="acercade">Acerca de</a></li>
                <li class="nav-item"><a class="nav-link" href="terminos">Terminos</a></li>
                <li class="nav-item"><a class="nav-link" href="contacto">Contactanos</a></li>
                <li class="nav-item"><a class="nav-link" href="productos">Productos</a></li>
                <li class="nav-item" *ngIf="accesoUser=== 'true'"><a class="nav-link" href="ofertas">Ofertas</a></li>
                <li class="nav-item" *ngIf="accesoAdmin=== 'true'"><a class="nav-link" href="admin">Gestionar Productos</a></li>
            </ul>
            <form class="d-flex">
                <a *ngIf="!(accesoUser === 'true' || accesoAdmin === 'true')" href="login" class="btn btn-outline-dark" role="button" style="margin-right: 15px;">
                    <i class="bi-cart-fill me-1"></i>Iniciar sesión
                  </a>
                  <a *ngIf="accesoUser === 'true' || accesoAdmin === 'true'" href="#" class="btn btn-outline-dark" role="button" style="margin-right: 15px;" (click)="BotonSesion()">
                    <i class="bi-cart-fill me-1"></i>Cerrar sesión
                  </a>                  
            </form>

            <form class="d-flex" *ngIf="accesoUser=== 'true'">
                <a href="carrito" class="btn btn-outline-dark" role="button">
                    <i class="bi-cart-fill me-1"></i>
                    Carrito
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </a>
            </form>
        </div>
    </div>
</nav>